@inherits LayoutComponentBase

<PageTitle>Blazor.Client</PageTitle>
<head>
    <link href="css/styles.css" rel="stylesheet" />
</head>
<div class="page">

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
    
</div>
